<%= form_for(@alpha) do |f| %>
  <% if @alpha.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alpha.errors.count, "error") %> prohibited this alpha from being saved:</h2>

      <ul>
      <% @alpha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :college %><br>
    <%= f.text_field :college %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
