<!DOCTYPE html>
<html>
<head>
  <title>Aq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style='background:#F5F8FA'>
<%= render 'layouts/navbar' %>
   <span class="notice"><%= notice %></span>
   <span class="alert"><%= alert %></span>

<div class='container' >
	<%= yield %>
</div>

</body>
</html>
